/* Fonts */

@font-face {
    font-family: 'Press Start 2P';
    src: url('res/fonts/press-start-2p.woff2') format('woff2'),
        url('res/fonts/press-start-2p.woff') format('woff');
}

/* General styles */

* {
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2f2f2f;
    font-size: 16px;
    height: 100vh;
}

/* Main menu section */

.main-menu__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    animation: fadeIn 3s ease;
}

.main-menu__title {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.main-menu__image {
    width: 480px;
    height: 270px;
    background-color: #fff;
    border-radius: 5px;
}

.main-menu__options {
    display:flex;
    flex-direction: row;
    gap: 9rem;
    font-size: 20px;
}

.main-menu__options > * {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 0px;
    border-radius: 2px;
    background-color: #fff;
    font-size: 20px;
    padding: 0.5rem 0.25rem;
    width: 200px;
    height: 50px;
    box-shadow: inset -4px -4px 1px 1px grey;
}

.main-menu__options > *::after {
    content: '';
    background: black;
    position: absolute;
    width: 105%;
    height: 100%;
    z-index: -1;
}

.main-menu__options > *::before {
    content: '';
    background: black;
    position: absolute;
    width: 100%;
    height: 110%;
    z-index: -1;
}

.main-menu__players {
    display: flex;
    flex-direction: row;
    border: double 3px black;
    gap: 10rem;
    font-size: 20px;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
}

.main-menu__player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.main-menu__player__check {
    width: 45px;
    height: 45px;
}

/* Game section */

.game-play__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    animation: fadeIn 3s ease;

}

.game-play__screen {
    width: 480px;
    height: 270px;
    background-color: #fff;
    border-radius: 5px;
}

.game-play__screen > * {
    width: 480px;
    height: 270px;
    border-radius: 5px;
}

.game-play__dialog {
    width: 755px;
    height: 100px;
    border: solid 5px black;
    background-color: grey;
    font-size: 16px;
    color: yellow;
    padding: 1rem;
    overflow: auto;
}

.game-play__timer {
    width: 100%;
    background-color: #f3f3f3;
    border: solid 3px #fff;
}

.game-play__timer__progress {
    height: 20px;
    width: 0;
    background-color: green;
    transition: width 1s linear;

}

.game-play__options__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.game-play__options {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.game-play__options > * {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 0px;
    border-radius: 2px;
    background-color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 0.5rem 0.25rem;
    width: 200px;
    height: 50px;
    box-shadow: inset -4px -4px 1px 1px grey;
}

.game-play__options > *::after {
    content: '';
    background: black;
    position: absolute;
    width: 105%;
    height: 100%;
    z-index: -1;
}

.game-play__options > *::before {
    content: '';
    background: black;
    position: absolute;
    width: 100%;
    height: 110%;
    z-index: -1;
}

/* Credits section */

.credits__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    animation: fadeIn 3s ease;
}

.credits__title {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.credits__screen {
    width: 480px;
    height: 270px;
    background-color: #fff;
    border-radius: 5px;
}

.credits__screen__names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.credits__back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 0px;
    border-radius: 2px;
    background-color: #fff;
    font-size: 20px;
    padding: 0.5rem 0.25rem;
    width: 200px;
    height: 50px;
    box-shadow: inset -4px -4px 1px 1px grey;
}

.credits__back::after {
    content: '';
    background: black;
    position: absolute;
    width: 105%;
    height: 100%;
    z-index: -1;
}

.credits__back::before {
    content: '';
    background: black;
    position: absolute;
    width: 100%;
    height: 110%;
    z-index: -1;
}

/* Auto play section */
.auto-play__container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.auto-play__video {
    width: 480px;
    height: 270px;
}

.auto-play__message {
    animation: blink 1.5s linear infinite;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

/* Animations */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}